.miColorFondo{
    background-color: #CCD3D9;
}
.micolorLetras{
    color: #312B57;
}
.miBoton{
    background-color: #BFB415;
    border: #BFB415;
    color: #312B57;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 15%;
}
.miColorNav{
    background-color: #312B57;
}
.scroll{
    overflow: hidden;
}