.miColorFondo{
    background-color: #CCD3D9;
}
.micolorLetras{
    color: #312B57;
}
.miColorBoton{
    color: #fff;
    background-color: #BFB415;
    border-color: #BFB415;
}
.test{
    background-color: cyan;
}
.scroll{
    overflow: hidden;
}
.imagenUsuario{
    height: 500px;
}
.imagenTecnico{
    height: 200px;
}