ul{
    list-style-type: none;
    
    overflow: hidden;
    margin: 0px;
    padding: 0px;
   
    font-kerning:normal ; letter-spacing: 0.6pt;
}

li{
    float: left;
    background-color: #3366CC;
    
    
    
}
li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    
    
}

li a:hover{
    
    background-color: #CCD3D9; font-weight: bold; 
    color:#003399 ;
    padding: 13px 9px;
    
}