<form action="#" method="post" target="_blank">

    <label for="date">Fecha</label> <br>
    <input type="date" name="date" id="date"><br>
   
    <label for="hora">Hora de la cita</label>
    <select name="hora" id="hota">
        <option value="">Seleccione</option>
        <option value="1">8 am</option>
        <option value="2">9 am</option>
        <option value="3">10 am</option>
        <option value="4">11 am</option>
        <option value="5">2 pm</option>
        <option value="6">3 pm</option>
        <option value="7">4 pm</option>
        <option value="8">5 pm</option>
    <br>   
    <label for="tipomantenimiento">Tipo de mantenimiento</label><br>
    <input type="checkbox" name="Lavadoaprofundidad" id="Lavadoaprofundidad">
    <label for="1">Lavado a profundidad</label><br>
    <input type="checkbox" name="Lubricaciondecadena" id="Lubricaciondecadena">
    <label for="2">Lubricacion de cadena</label><br>
    <input type="checkbox" name="revisionaire" id="revisionaire">
    <label for="3">Revision presión del aire</label><br>
    <input type="checkbox" name="nivelarruedas" id="nivelarruedas">
    <label for="4">Nivelar ruedas</label><br>
    <input type="checkbox" name="buscarobjetosincrustados" id="buscarobjetosincrustados">
    <label for="5">Buscar objetos incrustados</label><br>
    <input type="checkbox" name="revisarajustes" id="revisarajustes">
    <label for="6">Revisar ajustes de ruedas y asiento</label><br>
    <input type="checkbox" name="inspeccionarfrenos" id="inspeccionarfrenos">
    <label for="7">Inspeccionar frenos</label><br>
    <input type="submit" value=" Agendar Cita">

</form>
