<form action="#" method="POST" target="_blank">
    <label for="name">Nombre completo</label>
    <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
    <br>
    <label for="telefono">Telefono</label>
    <input type="tel" name="telefono" id="telefono" placeholder="Numero de telefono">
    <br>
    <label for="email">Correo</label>
    <input type="email" name="email" id="email" placeholder="Ingrese su correo">
    <br>

    <label for="marca">Marca de la bicicleta</label>
    <input type="text" name="marca" id="marca" placeholder="Ingrese su marca">
    <br>
    <label for="numdecicla">Numero de bicicleta (Tamano)</label>
    <select name="Numero de bicicleta" id="Numero de bicicleta">
        <option value="">Seleccione</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="18">18</option>
        <option value="20">20</option>
        <option value="22">22</option>
        <option value="24">24</option>
        <option value="26">26</option>
        <option value="27,5">27,5</option>
        <option value="29">29</option>
    </select>
    
    <br>

    <label for="gama">Tipo de Gama</label>
    <select name="gama" id="gama">
        <option value="Basico">Basico</option>
        <option value="Media">Media</option>
        <option value="Alta">Alta</option>
    </select>
    <br>
    <label for="username">Usuario</label>
    <input type="text" name="username" id="name" placeholder="Ingrese usuario">
    <br>
    <label for="password">Contrasena</label>
    <input type="password" name="password" id="password" placeholder="Ingrese contrasena">
    <br>
    <input type="submit" value="Crear Usuario">
    <a href="../../pages/paginaPrincipal.html" target="_parent"><input type="button" value="Cancelar"></a>
</form>
