<form action="#" method="POST" target="_blank">
    <label for="name">Nombre completo</label>
    <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
    <br>
    <label for="cedula">Cedula</label>
    <input type=" tel" name="cedula" id="cedula" placeholder="Numero de cedula">
    <br>
    <label for="telefono">Telefono</label>
    <input type="tel" name="telefono" id="telefono" placeholder="Numero de telefono">
    <br>
    <label for="email">Correo</label>
    <input type="email" name="email" id="email" placeholder="Ingrese su correo">
    <br>
    <label for="password">Contrasena</label>
    <input type="password" name="password" id="password" placeholder="Ingrese contrasena">
    <br>
    <input type="submit" value="Crear tecnico">
    <a href="../../pages/paginaPrincipal.html" target="_parent"><input type="button" value="Cancelar"></a>
</form>
