<nav>
    <div>
        <a href="../index.html" target="_parent">Página principal</a>
        <a href="../pages/inicioSesionUsuario.html" target="_parent">Iniciar sesión usuario</a>
        <a href="../pages/registroUsuario.html" target="_parent">Registrarse usuario</a>
        <a href="../pages/agendarCita.html" target="_parent">Agendar mantenimiento</a>
        <a href="../pages/inicioSesionTecnico.html" target="_parent">Iniciar sesion tecnico</a>
        <a href="../pages/registroTecnico.html" target="_parent">Registro para Tecnico</a>
        <a href="../pages/citasTecnico.html" target="_parent">Mantenimientos para realizar</a>
    </div>
</nav>