<nav>
    <div>
        <a href="../index.html">Página principal</a>
        <a href="../pages/inicioSesionUsuario.html">Iniciar sesión usuario</a>
        <a href="../pages/registroUsuario.html">Registrarse usuario</a>
        <a href="../pages/agendarCita.html">Agendar mantenimiento</a>
        <a href="../pages/inicioSesionTecnico.html">Iniciar sesion tecnico</a>
        <a href="../pages/registroTecnico.html">Registro para Tecnico</a>
        <a href="../pages/citasTecnico.html">Mantenimientos para realizar</a>
    </div>
</nav>